html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #101010;
  font-family: sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color:blue;
  font-size: 18px;
}

a.active, a.active:link, a.active:visited{
    pointer-events: none;
    cursor: default;
  
}




.dev-list-item .action{
    width:30%;
    
}

.repo-avatar {
    object-fit: cover;
    border-radius:50%;
    width: 20px;
    height: 20px;
}


.loader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 20em;

}
